
@{
    ViewData["Title"] = "Index";
}

<h1>Hello, Dr. K.</h1>
<div>
    <a asp-action="Management">Управление на услугите</a>
</div>
<div>
    <a asp-action="ManagementofTheUsers">Управление на потребителите</a>
</div>